[Unit]
Description=Avahi Aliases
Requires=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/avahi-alias.py start
ExecStop=/usr/local/bin/avahi-alias.py stop
ExecReload=/usr/local/bin/avahi-alias.py restart

[Install]
WantedBy=multi-user.target
